@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

::placeholder {
	/* Utilisez l'attribut "font-style" pour mettre le texte en italique */
	font-style: italic;
}

:root {
	--main-color: rgb(223, 184, 184);
	--main-color-light: #f0d3d3;
	--main-color-dark: #a38787;
	--background-color: rgb(211, 211, 233);
	--main-border-radius: 5px;
	--text-color: black;
}

/* Index | Header */
* {
	box-sizing: border-box;
    color: var(--text-color);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	transition: background-color 1s;
}  

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: var(--main-color);
	z-index: 10;
}

header nav{
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: flex;
	justify-content: space-between;
	max-height: 9.8vh;
}

.cours-search-header{
	display: flex;
	justify-content: space-between;
}

.header-home-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 1rem;
	padding-block: 2rem;
	text-decoration: none;
	color: var(--text-color);
	cursor: pointer;
}

.header-home-container:hover{
	background-color: var(--main-color-dark);
	border-radius: var(--main-border-radius);
}

.header-home-container img {
	width: 2vw;
	height: auto;
	margin-left: 0.5rem;
}

.header-title{ 
	color: var(--text-color);
	font-family: Arial, sans-serif;
}

.menu{
	display: flex;
	justify-content: right;
	margin-left: 2vw;
}

.menu-right{
	border: hidden;
	background-color: transparent;
	display: flex;
	align-self: center;
	justify-content: center;
}

.menu-right:focus {
	outline: none;
}

.menu-right:hover{
	background-color: var(--main-color-light);
	border-radius: 50px;
	padding-block: 5px;
	margin-block: -4px;
}


header button img{
	max-width: 2.5vw;
	height: auto;
}

.menu-right{
	position: relative;
	right: 0vw;
}

.matiere-header-container{
	 display: flex;
	 align-items: center;
	 justify-content: space-around;
	 width: 15%;
}

.matiere-header-container img{
	width: 2vw;
	height: auto;
}

/* settings */

#settings{
	display: none;
  	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 10vh;
	right: 0vw;
	background-color: var(--main-color-light);
	width: 15vw;
	height: auto;
	border-bottom-left-radius: var(--main-border-radius);
	padding: 2rem;
	z-index: 1;
	transition: background-color 1s;
}



#settings div p{
	display: flex;
	justify-content: center;
}

#settings p{
	color: var(--text-color);
	align-self: center;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-block-start: 1vh;
}

.settings-colors{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
	flex-wrap: wrap;
}

.diagonal-button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: none;
	margin-inline: 0.5rem;
	margin-block: 0.4rem;
}

.diagonal-button:hover{
	width: 2.5rem;
	height: 2.5rem;
	margin-block: 0rem;
	margin-inline: 0.2rem;
	border: solid 1px var(--text-color);
}

.diagonal-button-border{
	border: solid 1px var(--text-color);
}


.settings-radius{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
}

.radius-button{
	background-color: var(--main-color-dark);
	width: 2rem;
	height: 1.5rem;
	border: none;
}

.radius-button:hover{
	background-color: var(--main-color);
	border: 1px rgb(49, 46, 46) solid;
}

.radius1{
	border-radius: 2px;
}

.radius2{
	border-radius: 5px;
}

.radius3{
	border-radius: 10px;
}

.radius4{
	border-radius: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3.3vw;
	height: 2vw;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.7vw;
	width: 1.7vw;
	left: 0.15vw;
	bottom: 0.15vw;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--main-color-dark);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--main-color-dark);
}

input:checked + .slider:before {
	-webkit-transform: translateX(1vw);
	-ms-transform: translateX(1vw);
	transform: translateX(1.2vw);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


.line-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.line{
	width: 30%;
	height: 1px;
	background-color: var(--text-color);
}

.fleche{
	display: flex;
}

.fleche img{
	height: 1.7vw;
	width: 1.7vw;
}


/* index | main */
.container{
	margin-top: 10vh;
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.box {
	width: 18vw;
	height: 30vh;
	margin: 2%;
	border-radius: var(--main-border-radius);
	align-items: center;
	text-decoration: none;
	overflow: hidden;
	background-color: var(--main-color);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	transition: background-color 1s;
}

.box:hover {
	background-color: var(--main-color-dark);
	box-shadow: none;
}

.box:hover img{
	opacity: 0.8;
}

.box img {
	width: 100%;
	height: 80%;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	overflow: hidden;
	object-fit: cover;
	transition: background-color 1s;
}

.box p {
	font-size: 18px;
	line-height: 1.5;
	margin-block: 1vh;
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
}

/* matiere | header */

.input-container{
	width: 40%;
	margin-block: 0.5em;
	display: flex;
}

.input-container-cours{
	width: 30%;
	margin-left: -10%;
}


.input {
	background: none;
	border: none;
	outline: none;
	min-width: 80%;
	padding: 10px 20px;
	border-radius: var(--main-border-radius);
	box-shadow: inset 2px 3px 10px var(--main-color-dark);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.input::placeholder {
	color: var(--text-color);
}

.input-button{
	border: none;
	background-color: var(--main-color-light);
	max-height: 100%;
	width: 11%;
	margin-inline: 0.5em;	
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--main-border-radius);
	box-shadow: inset 2px 5px 10px var(--main-color-dark);
	cursor: pointer;
}

.input-button:hover{
	background-color: var(--main-color-dark);	
}

.input-button svg{
	width: 55%;
	height: auto;
	filter: sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* matiere | main */

main{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100%;
}

.main-container{
	position: fixed;
	top: 20vh;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 75vh;
	border-radius: var(--main-border-radius);
}

.main-container div h3{
	display: flex;
	flex-direction: column;
	background-color: var(--main-color-light);
	align-self: flex-start;
	margin: 0px auto;
	padding-inline: 2rem;
	padding-block: 1rem;
	border-radius: var(--main-border-radius);
	margin-bottom: 2rem;
	transition: background-color 1s;
}

.cours-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	padding-inline-start: 5rem;
	padding-inline-end: 3rem;
	text-align: center;
	border-right: 2px solid var(--text-color);
}

.interro-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	padding-inline: 5rem;
	text-align: center;
}

#box-cours{
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.autre_title{
	color: var(--text-color);
	margin-top: 7rem;
	background-color: var(--main-color-light);
	border-radius: 50px;
	width: 15%;
	padding: 0.2rem;
	display: flex;
	text-align: center;
	justify-content: center;
}

.rien_title{
	color: var(--text-color);
	background-color: #bfbfbf;
	border-radius: 10px;
	padding-inline: 2rem;
	padding-block: 1rem;
	width: 50%;
	align-self: center;
	margin: 0px auto;
}

#box-interro{
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.box-single{
	margin-block: 0.7rem;
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: var(--main-border-radius);
	align-items: center;
	width: 95%;
	cursor: pointer;
	text-decoration: none;
	opacity: 0;
	transform: translateX(-100%);
	filter: blur(5px);
	transition: background-color 1s;
}

.box-single:hover{
	filter: brightness(0.8);
}

.show{
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
	transition: transform 1s;
}

.box-off{
	opacity: 0.5;
}

.box-num{
	background-color: var(--main-color-dark);
	display: flex;
	border-radius: var(--main-border-radius);
	padding: 0.5rem;
	width: 3vw;
	height: 3vw;
	justify-content: center;
	align-items: center;
	transition: background-color 1s;
}

.box-icon-container{
	background-color: var(--main-color-dark);
	display: flex;
	border-radius: var(--main-border-radius);
	padding: 1vw;
	width: 3vw;
	height: 3vw;
	justify-content: center;
	align-items: center;
	transition: background-color 1s;
}

.box-icon{
	width: 1.7vw;
	height: auto;
}

.box-single h4{
	margin-block-start: 0em;
    margin-block-end: 0em;
	display: flex;
	width: 80%;
	background-color: var(--main-color-dark);
	padding: 0.5rem;
	padding-block: 0.8rem;
	justify-content: center;
	align-items: center;
	border-radius: var(--main-border-radius);
	transition: background-color 1s;

}

#recherche_word{
	color: var(--text-color);
	position: fixed;
	margin: 15vh auto;

}

.div-create-container{
	position: fixed;
	bottom: 2vh;
	left: 2vh;
	width: 100%;
	height: 10vh;
}

.div-create-container button{
	text-decoration: none;
	background-color: var(--main-color-light);
	width: min-content;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1vw;
	padding-inline: 2vw;
	border-radius: var(--main-border-radius);
	border: none;
}

.div-create-container button:hover{
	background-color: var(--main-color);
}

.div-create-container button img{ 
	width: 3vw;
	height: 3vw;
	margin-left: 2vw;
}

/* Interro, Cours | Header */
.header-link-container{
	display: flex;
	width: min-content;
	justify-content: space-around;
}

/* Cours | Header */

.main-cours-container{
	width: 100vw;
	overflow-y: scroll;
	display: flex;
  	flex-direction: column;
	padding-inline: 5rem;
	justify-content: space-around;
}

.box-cours-elements{
	height: 90vh;
	opacity: 0;
	transform: translateX(+100%);
	filter: blur(5px);
	transition: transform 1s;
}

.show_cours{
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
}

.box-cours-elements h2{ 
	height: 5%;
}

.cours-element{
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#content-container{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	border-radius: var(--main-border-radius);
	justify-content: space-around;
	padding-block: 2vh;
}

#content-container-vert{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	border-radius: var(--main-border-radius);
	justify-content: space-around;
	padding-block: 2rem;
}	

.content-full-screen{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#content-container video{
	margin-top: 0;
	height: 80%;
	width: auto;
	max-width: 100%;
}

.content-full-screen video{
	min-height: 80%;
}

#content-container img{
	margin-top: 0;
	height: 85%;
	max-width: 100%;
}

.full-screen-video-container{
	height: 80%;
	display: flex;
	justify-content: center;
	
}

#content-container iframe{
	margin: 0 auto;
	min-height: 80%;
	min-width: 70%;
	max-width: 100%;
}

.video-player p {
	padding-block: 1vw;
	padding-inline: 3vw;
	border-radius: var(--main-border-radius);
	transition: background-color 1s;
	background-color: var(--main-color-light);
	color: var(--text-color);
	width: min-content;
}

.scroll-buttons {
	position: fixed;
	bottom: 1vw;
	right: 1vw;
	z-index: 9999;
	display: flex;
	flex-direction: column;
}
  
.scroll-buttons button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.scroll-buttons button:hover{
	opacity: 0.7;
}

.scroll-buttons button img {
	width: 3vw;
	height: 3vw;
}
  

#id-info {
	position: fixed;
	bottom: 1vw;
	left: 1vw;
	background: var(--main-color-light);
	border-radius: 100px;
	width: 3vw;
	height: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

#fullscreen-button{
	background-color: var(--text-color);
	padding: 1rem;
	border: none;
	color: var(--main-color);
	border-radius: var(--main-border-radius);
}

#fullscreen-button:hover{
	opacity: 0.8;
}

audio{
	width: 40%;
}

.img-full-vert{
	margin-top: 0;
    max-height: 100%;
    max-width: 100%;
}

.img-full{
	margin-top: 0;
    max-height: 90%;
    max-width: 100%;
}

.bouton-vert{
	max-height: 10%;
	background-color: var(--main-color-light);
}

.text-element-cours{
	background-color: var(--main-color-light);
	padding: 2vw;
	border-radius: var(--main-border-radius);
}


/* Create Page */ 

.main-create-container{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	width: 90vw;
	padding-inline: 5vw;
	padding-block: 2vw;
	
}


.container-select-matiere{
	margin-top: 15vh;
	width: 90vw;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	padding: 1vw;
	flex-wrap: wrap;
}

.box-matiere{
	display: flex;
	justify-content: center;
  	align-items: center;
	background-color: var(--main-color-light);
	border: none;
	object-fit: fill;
	padding: 1vw;
	padding-inline: 2vw;
	border-radius: var(--main-border-radius);
	margin-bottom: 5vh;
}

.box-matiere:hover{
	background-color: var(--main-color-dark);
}

.selected-img{
	padding: 0.8vw;
	padding-inline: 1.8vw;
	background-color: var(--main-color-dark) ;
	border: 0.2vw solid var(--main-color-light);
}

#titre-demonstration-box{
	transition: color 0s;
	transition: background-color 1s;
}

.main-create-container h3{
	margin-block-end: 5px;
	font-size: 2em;
	z-index: 2;
	position: relative;
	left: 3vw;
	display: flex;
	justify-content: left ;
	align-items: center;
	gap: 1vw;
}

.main-create-container h3 img{
	width: 3vw;
	height: auto;
}

.toggle-container {
    position: relative;
    margin-bottom: 10px;
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    padding: 0.2vw;
    transition: background-color 1s;
	margin: 0px auto;
	
}

.toggle-option {
    padding: 2vw;
    padding-block: 1vw;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--main-color-light);
    border: none;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    transition: background-color 1s, transform 0.5s;
    position: relative;
    z-index: 1;
}

.toggle-option:focus,
.toggle-option:hover {
    background-color: var(--main-color-dark);
}

.toggle-option.selected {
    background-color: var(--main-color-dark);
}

.selection-indicator {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: var(--main-color-dark);
    transition: transform 0.5s;
    z-index: 0;
    transform: translateX(-100%);
}

.toggle-option.selected ~ .selection-indicator {
    transform: translateX(0);
}


.box-single-demonstration{
	width: 60%;
}

.element-create-part{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-block-end: 5vh;
	border-radius: var(--main-border-radius);
	border: 1px solid var(--text-color);
	padding: 1vw;
	text-align: left;
	transition: background-color 1s;
}

.input-create-container {
	width: 65%;
	display: flex;
	justify-content: space-between;
	align-items: left;
}


.input-create-container h4{
	margin-inline-start: 5vw;
}

.input-create-container div{
	width: 75%;
}



#show-icon-proposale{
	border: none;
	background-color: var(--main-color);
	padding: 0.5vw;
	padding-inline: 1vw;
	border-radius: 50px;
	transition: background-color 1s;
}

#show-icon-proposale:hover{
	background-color: var(--main-color-dark);
}

.icon-proposale{
	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

.icon-proposale-button{
	background: transparent;
	border: none;
	padding: 0.3vw;
	width: 3.5vw;
	height: 3.5vw;
	background-color: var(--main-color);
	border-radius: var(--main-border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5vw;
	transition: background-color 1s;
	opacity: 1;
}

.icon-proposale-button:hover{
	opacity: 0.5;
}

.icon-proposale button img{
	width: 2vw;
	height: auto;
}

.key_word_container{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	width: 60%;
	padding: 1vw;
}

.key_word_container li{
	background: var(--main-color);
	padding: 0.3vw;
	padding-inline-end: 0.7vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: min-content;
	margin: 0.7vw;
	border-radius: var(--main-border-radius);

}

.key_word_container li button{
	background: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1vw;
	padding: 0.3rem;
	border-radius: var(--main-border-radius);
}

.key_word_container li button:hover{
	opacity: 0.2;
}

.key_word_container li button img{
	width: 1vw;
	height: auto;
}

.key_word_container li p{
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.add-cours{
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#button-add-cours{
	background-color: var(--main-color-light);
	border: none;
	padding-block: 0.5vw;
	border-radius: 5px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
	width: 100%;
}

#button-add-cours:hover{
	background-color: var(--main-color-dark);
}

#button-add-cours img{
	width: 2vw;
	height: auto;
	margin-left: 0vw;
}

#list-add-cours{
	margin-bottom: 5vh;
	list-style: none;
	background-color: var(--main-color);
	border: none;
	padding: 0.7vw;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-block-start: 0em;
	opacity: 0.9;
	padding-bottom: 2vw;
}

#list-add-cours button{
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5vw;
	background: transparent;
	border: none;
	border-top: 1px solid var(--main-color-dark);
}

#list-add-cours button div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: 18px;
}

#list-add-cours button img{
	width: 1.8vw;
	height: auto;
}

#list-add-cours button:last-child{
	border-bottom: 1px solid var(--main-color-dark);
}

#list-add-cours button:hover{
	background-color: var(--main-color-light);
}

.video-create-right{
	max-width: 40%;
	max-height: 80vh;
	overflow-y: scroll;
}

.video-container{
	display: flex;
	flex-direction:row;
	max-height: 80vh;
}

.video-container .box-cours-elements{
	box-shadow: 0px 0px 10px rgb(170, 170, 170) ;
	width: 60%;
	padding: 1vw;
	border-radius: var(--main-border-radius);
	height: 70vh;
} 

.video-container div #content-container{
	width: 100%;
}

.video-container div #content-container iframe{
	min-width: 100%;
	height: auto;
}



.video-create-right .input-create-container{
	width: 100%;
	margin-block: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.video-create-right .input-create-container div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-create-right .input-create-container .text-input-container{
	width: 25%;
}

.video-create-right .input-create-container .input-container input{
	width: 95%;
}

.video-create-right .input-create-container .text-input-container h4{
	margin-inline-start: 1.33vw;
}


.input-create-container-texte{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-block: -5px;
}

.title-spacing{
	margin-block: 30px;
}

.key_word_spacing{
	margin-top: 10px;
}

.input-create-container-texte div{ 
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-create-container-texte .text-input-container{ 
	width: 25%;
}



.input-create-container-texte .input-container{ 
	width: 75%;
}

.input-texte-video{
	min-width: 	100%;
	overflow-y: scroll;
	max-height: 15%;
	cursor: all-scroll;
}

.key_word_container_created{
	width: 90%;
	max-height: 23vh;
	overflow: scroll;
	box-shadow: 0px 0px 10px rgb(170, 170, 170);
	margin-inline: 2vw;
	border-radius: var(--main-border-radius);
}


.iframe-demonstration{
	height: 65%;
	width: 85%;
}



  
#custom-file-input {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
  

.image-file-input{
	width: 1.5vw;
	height: auto;
}

.text-file-loaded{
	margin-left: 2vw;
}

.iframe-created{
	width: 95%;
	height: 70%;
}

.button-choose-src-url{
	border: none;
	background-color: var(--main-color-light);
	width: 4.5vw;
	margin: 10px;
	padding-block: 0.6vw;
	border-radius: 50px;
}
  
.button-choose-src-url:hover{
	background-color: var(--main-color);
}


.custom-file-button {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 6px 12px;
	background-color: #ff0000; 
	color: #ffffff; 
	cursor: pointer;
}
  
.custom-file-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
  
.custom-file-button:hover {
	background-color: #ff4444; 
}
  
.show_cours_create_left{
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.text-shadow{
	text-shadow: 0px 0px 20px black;
}

.button-source-input{
	background: var(--main-color-light);
	border: none;
	padding: 0.7vw;
	border-radius: 5px;
}

.button-source-input:hover{
	background: var(--main-color);
}


#container_choose_matiere_to_create{
	background: var(--main-color-light);
	box-shadow: 0px 0px 20px var(--text-color);
	border-radius: var(--main-border-radius);
	width: 30vw;
	height: 50vh;
	position: fixed;
	z-index: 100;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	padding-inline: 3vw;
	padding-block: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 80%;
	transition: background 1s;
}

#header-choice-matiere {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#header-choice-matiere button{
	background: var(--main-color);
	border: none;
	padding: 0.5vw;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-choice-matiere h3{
	text-decoration: underline;
}

#header-choice-matiere button:hover{
	background: var(--main-color-dark);
}

#header-choice-matiere img{
	width: 1.2vw;
	height: auto;
}

#choose_matiere_to_create{
	list-style: none;
	overflow-y: scroll;
	display: block;
	width: 100%;
}

#choose_matiere_to_create::-webkit-scrollbar {
    display: none;
}

#choose_matiere_to_create a{
	display: flex;
	padding-inline: 1vh;
	border-bottom: 1px solid var(--text-color);
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

#choose_matiere_to_create a:first-child{
	border-top: 1px solid var(--text-color);
}

#choose_matiere_to_create a:hover{
	background: var(--main-color);
	
}

#choose_matiere_to_create a img{
	width: 2vw;
	height: auto;
}