@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
body{
    background: rgb(194, 211, 212);
}

header{
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 2%;
    width: 98%;
    padding-inline-end: 15%;
    z-index: 10;
}

.headers{
    text-align: center;
    padding: 15px;
    background-color: rgb(187, 138, 132);
    min-width: 2%;
    font-family: 'Heebo', sans-serif;
    border-radius: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.headers.link:hover{
    background-color: rgb(150, 121, 117);
}

.icons{
    display: flex;
    padding-inline: 2%;
    justify-content: space-around;
    padding-inline: 10px;
    align-self:flex-start;
}

.icons a {
    text-decoration: none;
    color: rgb(43, 39, 39);
    margin-inline: 6px;
}
.icons a img{
    margin-inline: 6px;
}

.container {
    margin-top: 8%;
	display: flex;
	flex-wrap: wrap;
    
}

.left {
    
	flex: 1;
    max-width: 30%;
}

.left img {
    position: fixed;
	width: 29%;
    height: auto;
	height: auto;
	cursor: pointer;
    border-radius: 20px;
    margin: 2rem;  
}

.fullscreen-image {
	height: auto;
    border-radius: 20px;
    margin: 2rem;
    position: fixed;
}

.fullscreen-image.show {
    display: block;
    position: absolute;
    left: 25%;
    top: 10%;
    bottom: 3rem;
    width: 50%;
    height: auto;
    border-radius: 0px;
    z-index: 40;
}


.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    padding: 3rem;
    background-color: rgb(229, 237, 238);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: rgb(157, 177, 176) 2px 2px 20px ;
    max-width: 50%;
    min-width: 49%;
    margin-left: auto; 
    margin-right: 10%;
}

.right.show{
    display: none;
}

.left.show{
    display: none;
}

.citation {
    background-color: blanchedalmond;
	width: 100%;
	resize: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-self: center;
    padding-inline: 15px;
    display: flex;
    margin-block-end: 20px;
}

#numero_citation{
    background-color: rgb(214, 195, 160);
    border-radius: 50px;
    min-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    margin-right: 20px;
}

.citation.movement{
    background-color: #8aa6d4;
}

#citation_texte{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

#numero_citation.movement{
    display: none;
}




.right img {
    margin-block: 20px;
    border-radius: 20px;
    width: 55%;
}

.right img .show{
	display: none;
}

.right img.show{
	width: 70%;
	height: auto;
    position: absolute;
    top: 15%;
    left: 15%;
    margin-block: 20px;
    border-radius: 0px;
}

button {
	padding: 10px;
	background-color: #627283;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #7d8b99;
}

body.show{
    background:  rgb(194, 211, 212);
    padding-bottom: 100px;
    padding-bottom: 50px;
}

h3 {
    background-color: rgb(203, 203, 221);
    border-radius: 50px;
    border: none;
    text-align: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    padding-inline-end: 30px;
    display: flex;
}

input{
    background-color: rgb(173, 173, 190);
    border-radius: 50px;
    border: none;
    text-align: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    padding-block: 6px;
    font-size: 16px;
    margin-right: 10px;
    max-width: 90px;
}

#boutons_check{
    display: flex;
  justify-content: center;
  align-items: center;
}

#boutons_check div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle_texte_style{
    background-color: #bac3cc;
    position: fixed;
    bottom: 2%;
    right: 1%;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    font-family: 'Heebo', sans-serif;
    padding-left: 20px;
    cursor: pointer;
}

.toggle{
    display: flex;
    background-color: rgb(133, 177, 133);
    border-radius: 50px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    padding: 2px;
}


.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(41, 49, 44);
}



.grades_sumup{
    background-color: rgb(194, 194, 214);
}

.grades_sumup li{
    padding: 3%;
    border-radius: 15px;
    align-items: center;
}

.quote_sumup{
    background-color: rgb(218, 218, 231);
    border-radius: 15px;
    padding-inline: 3%;
    padding: 2%;
    width: 70%;
    display: flex;
    align-items: center;
    text-align: left;
}

.grade_sumup{
    background-color: rgb(218, 218, 231);
    padding: 2%;
    padding-inline: 3%;
    border-radius: 15px;
}

.id_sumup{
    width: 15px;
    height: 15px;
    background-color: rgb(218, 218, 231);
    padding: 2%;
    padding-inline: 3%;
    border-radius: 50px;
    text-align: center;
}