<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ma page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css_main' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <nav>
            <div class=" menu">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/oral">Oral</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container">
            <a href="/oral/analyses/texte?text=1" class="box_texte">
                <div class="texte_nb">
                    1
                </div>
                <p>
                    Malade Imaginaire n°<font size="4" style="color: #000000">1</font>
                </p>
                <img width=" 40px" src="https://cdn-icons-png.flaticon.com/512/4060/4060104.png">
            </a>
            <a href="/oral/analyses/texte?text=2" class="box_texte">
                <div class="texte_nb">
                    2
                </div>
                <p>
                    Malade Imaginaire n°<font size="4" style="color: #000000">2</font>
                </p>
                <img width="40px" src="https://cdn-icons-png.flaticon.com/512/4060/4060104.png">
            </a>
            <a href="/oral/analyses/texte?text=3" class="box_texte">
                <div class="texte_nb">
                    3
                </div>
                <p>
                    Malade Imaginaire n°<font size="4" style="color: #000000">3</font>
                </p>
                <img width="40px" src="https://cdn-icons-png.flaticon.com/512/4060/4060104.png">
            </a>
            <a href="/oral/analyses/texte?text=4" class="box_texte">
                <div class="texte_nb">
                    4
                </div>
                <p>
                    Tartuffe
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1597/1597144.png">
            </a>
            <a href="/oral/analyses/texte?text=5" class="box_texte">
                <div class="texte_nb">
                    5
                </div>
                <p>
                    l'Ile des Esclaves
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1365/1365846.png">
            </a>
            <a href="/oral/analyses/texte?text=6" class="box_texte">
                <div class="texte_nb">
                    6
                </div>
                <p>
                    Préambule (DDFC)
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1648/1648007.png">
            </a>
            <a href="/oral/analyses/texte?text=7" class="box_texte">
                <div class="texte_nb">
                    7
                </div>
                <p>
                    Articles (DDFC)
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1648/1648007.png">
            </a>
            <a href="/oral/analyses/texte?text=8" class="box_texte">
                <div class="texte_nb">
                    8
                </div>
                <p>
                    Postambule (DDFC)
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1648/1648007.png">
            </a>
            <a href="/oral/analyses/texte?text=9" class="box_texte">
                <div class="texte_nb">
                    9
                </div>
                <p>
                    La Colonie
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/6705/6705284.png">
            </a>
            <a href="/oral/analyses/texte?text=10" class="box_texte">
                <div class="texte_nb">
                    10
                </div>
                <p>
                    Candide
                </p>
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/7445/7445469.png">
            </a>



        </section>
    </main>
</body>

</html>