<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Terminale</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6990/6990855.png" type="image/png">
    {% assets 'css_main' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

</head>


<body class="test">


    <header>
        <nav class="cours-search-header">
            <div class="header-link-container">
                <a class="header-home-container" href="/">
                    <h3>Terminale
                    </h3>
                    <img src="https://cdn-icons-png.flaticon.com/512/6597/6597982.png">
                </a>
                <a class="header-home-container" href="/" id="link_search">
                    <h3 class="header-title">
                        Search
                    </h3>
                    <img src="   https://cdn-icons-png.flaticon.com/512/2015/2015218.png ">
                </a>
            </div>
            <div class="input-container input-container-cours"><input placeholder="ex: Dérivé, Bonheur..."
                    id="search-input" class="input" name="text" type="text">
                <button class="input-button" onclick="search()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" id="svgContainer">
                        <path
                            d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z" />
                    </svg>
                </button>
            </div>

            <div class="menu">
                <button class="menu-right" onclick="hide_show()"><img id="button-settings"
                        src="   https://cdn-icons-png.flaticon.com/512/2115/2115216.png "></button>
        </nav>
        <div id="settings">
            <div>
                <p>Color</p>
                <ul class="settings-colors" id="style_list">

                </ul>

                <script>
                    fetch('../static/json/settings_color.json')
                        .then(response => response.json())
                        .then(data => {
                            data.forEach(item => {
                                const element_id = item.color_id;

                                const liElement = document.createElement("li");

                                const buttonElement = document.createElement("button");
                                const class_element = "diagonal-button style" + parseInt(element_id, 10);
                                buttonElement.className = class_element
                                buttonElement.onclick = function () {
                                    style_change(element_id);
                                };

                                liElement.appendChild(buttonElement);

                                const ulElement = document.getElementById("style_list");
                                ulElement.appendChild(liElement);

                            });
                        })
                        .catch(error => {
                            console.error('Une erreur s\'est produite lors de la lecture du fichier JSON :', error);
                        });
                </script>
            </div>
            <div>
                <p>Angles</p>
                <ul class="settings-radius">
                    <li><button class="radius-button radius1" onclick="radius1()"></button></li>
                    <li><button class=" radius-button radius2" onclick="radius2()"></button></li>
                    <li><button class=" radius-button radius3" onclick="radius3()"></button></li>
                    <li><button class=" radius-button radius4" onclick="radius4()"></button></li>
                </ul>
            </div>
            <div>
                <p>Lignes</p>
                <!-- Rounded switch -->
                <div class="line-container">
                    <label class="switch">
                        <input type="checkbox" id="toggle-switch">
                        <span class="slider round"></span>
                    </label>
                    <div class="line"></div>
                </div>
            </div>
            <div>
                <p>Flèches</p>
                <!-- Rounded switch -->
                <div class="line-container">
                    <label class="switch">
                        <input type="checkbox" id="toggle-switch-fleche">
                        <span class="slider round"></span>
                    </label>
                    <div class="fleche">
                        <img class="fleche_haut_settings">
                        <img class="fleche_bas_settings">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="main-cours-container" style="margin-block: 10vh;">




    </div>

    <div class="scroll-buttons" id="reverse_none">
        <button id="scroll-up-button">
            <img id="F_haut" src="" onclick="haut()">
        </button>
        <button id=" scroll-down-button" onclick="bas()">
            <img id="F_bas" src="">
        </button>
    </div>

    <div id="id-info" style="visibility: hidden; padding-inline: 2vw;">
        <p id="id-info-text">1</p>
    </div>

</body>

<script src="../static/javascript/cours.js"></script>
<script src="../static/javascript/settings.js"></script>



</html>