<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Terminale</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6990/6990855.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css_main' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <nav>
            <a class="header-home-container" href="/">

                <h3 class="header-title">
                    Terminale
                </h3>
                <img src="https://cdn-icons-png.flaticon.com/512/6597/6597982.png">
            </a>

            <div>
                <h3 id="header-matiere">

                </h3>
            </div>
            <div class="menu">
                <button class="menu-right" onclick="hide_show()"><img
                        src="https://cdn-icons-png.flaticon.com/512/2115/2115216.png"></button>
        </nav>
        </div>
        <div id="settings" style="opacity: 0; display: none;">
            <div>
                <p>Color</p>
                <ul class="settings-colors">
                    <li><button class="diagonal-button style1" onclick="style1()"></button></li>
                    <li><button class=" diagonal-button style2" onclick="style2()"></button></li>
                    <li><button class=" diagonal-button style3" onclick="style3()"></button></li>
                    <li><button class="diagonal-button style4" onclick="style4()"></button></li>
                    <li><button class=" diagonal-button style5" onclick="style5()"></button></li>
                    <li><button class=" diagonal-button style6" onclick="style6()"></button></li>
                    <li><button class="diagonal-button style7" onclick="style7()"></button></li>
                    <li><button class=" diagonal-button style8" onclick="style8()"></button></li>
                    <li><button class=" diagonal-button style9" onclick="style9()"></button></li>
                </ul>
            </div>
            <div>
                <p>Angles</p>
                <ul class="settings-radius">
                    <li><button class="radius-button radius1" onclick="radius1()"></button></li>
                    <li><button class=" radius-button radius2" onclick="radius2()"></button></li>
                    <li><button class=" radius-button radius3" onclick="radius3()"></button></li>
                    <li><button class=" radius-button radius4" onclick="radius4()"></button></li>
                </ul>
            </div>
        </div>
    </header>


    </div>
    <main style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <section class="container-select-matiere" id="container-select-matiere">

        </section>


        <script>

            fetch("../static/json/matiere.json")
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('container-select-matiere');

                    data.forEach((item, index) => {
                        const matiereButton = document.createElement('button');
                        matiereButton.classList.add('box-matiere', `matiere-${index}`);
                        if (index == 0) {
                            matiereButton.classList.add('selected-img');
                        }
                        matiereButton.textContent = item.matiere_name;
                        matiereButton.setAttribute('onclick', `select_matiere(${index})`);

                        container.appendChild(matiereButton);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        </script>

        <div class="main-create-container">
            <div class="toggle-container">
                <button class="toggle-option selected" onclick="toggleSelection(this)">Cours</button>
                <button class="toggle-option" onclick="toggleSelection(this)">Interro</button>
            </div>

            <script>
                function toggleSelection(button) {
                    // Supprimer la classe "selected" de tous les boutons
                    var buttons = document.getElementsByClassName("toggle-option");
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].classList.remove("selected");
                    }

                    // Ajouter la classe "selected" uniquement au bouton cliqué
                    button.classList.add("selected");
                }
            </script>

            <h3 class="color-opposite"> Cours Box </h3>

            <div class="element-create-part">

                <a class="box-single show box-single-demonstration">
                    <div class="box-num">1</div>
                    <h4 id="titre-demonstration-box">Titre</h4>
                    <div class="box-icon-container"><img id="icon-demonstration-box"
                            src="https://cdn-icons-png.flaticon.com/512/5181/5181979.png" class="box-icon"></div>
                </a>

                <br>

                <div class="input-create-container">
                    <h4 class="color-opposite">Titre : </h4>
                    <div class="input-container"><input placeholder="ex: Cours Dérivé (chapitre 1)"
                            id="create-input-title-box" class="input color-opposite" name="text" type="text">
                    </div>
                </div>

                <div class="input-create-container">
                    <h4 class="color-opposite">Icon url : </h4>
                    <div class="input-container "><input
                            placeholder="ex: https://cdn-icons-png.flaticon.com/512/5422/5422388.png"
                            id="create-input-icon-box" class="input color-opposite" name="text" type="text">
                    </div>

                </div>
                <button id="show-icon-proposale">show</button>
                <div class="icon-proposale" style="display: none;">
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/3655/3655618.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/2234/2234697.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/5776/5776927.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/197/197374.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/10601/10601048.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/1613/1613243.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/6747/6747083.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/3898/3898150.png "></button>
                </div>
                <script>
                    const buttonShowHide = document.getElementById("show-icon-proposale");
                    const iconProposale = document.querySelector(".icon-proposale");

                    buttonShowHide.addEventListener("click", function () {
                        if (iconProposale.style.display === "none") {
                            iconProposale.style.display = "flex";
                            buttonShowHide.textContent = "hide";
                        } else {
                            iconProposale.style.display = "none";
                            buttonShowHide.textContent = "show";
                        }
                    });

                    // Récupérer tous les boutons
                    const buttons = document.querySelectorAll("button");

                    // Ajouter un gestionnaire d'événement "click" à chaque bouton
                    buttons.forEach(button => {
                        button.addEventListener("click", function () {
                            // Récupérer la source de l'image contenue dans le bouton
                            const imageSource = button.querySelector("img").src;

                            // Afficher la source de l'image dans la console
                            console.log("Source de l'image :", imageSource);
                        });
                    });

                </script>
                <div class="input-create-container">

                    <h4 class="color-opposite">Mot clé : </h4>
                    <div class="input-container"><input placeholder="ex: Math ,Derive" id="create-input-keyword"
                            class="input color-opposite" name="text" type="text">

                    </div>
                </div>

                <ul class="key_word_container" id="key_word_container">


                </ul>

                <p class="color-opposite" style="visibility: hidden;" id="empty-keywords"> Aucun mot clé
                </p>

                <p class="color-opposite" id="alert-text"
                    style="visibility: hidden; color: var(--text-color); font-style: italic;">⚠
                    Certain
                    mots peuvent être
                    modifier pour
                    faciliter la recherche plus tard
                </p>
            </div>
        </div>

        <div class="main-create-container" style="margin-top: 0vh; margin-bottom: 10vh;">

            <h3> Cours Box </h3>
            <div class="element-create-part">

                <a class="box-single show box-single-demonstration">
                    <div class="box-num">1</div>
                    <h4 id="titre-demonstration-box">Titre</h4>
                    <div class="box-icon-container"><img id="icon-demonstration-box"
                            src="https://cdn-icons-png.flaticon.com/512/5181/5181979.png" class="box-icon"></div>
                </a>

                <br>
                <div class="input-create-container">

                    <h4>Titre : </h4>
                    <div class="input-container "><input placeholder="ex: Cours Dérivé (chapitre 1)"
                            id="create-input-title-box" class="input" name="text" type="text">

                    </div>
                </div>

                <div class="input-create-container">

                    <h4>Icon url : </h4>
                    <div class="input-container "><input
                            placeholder="ex: https://cdn-icons-png.flaticon.com/512/5422/5422388.png"
                            id="create-input-icon-box" class="input" name="text" type="text">

                    </div>
                </div>

            </div>
        </div>
    </main>



</body>

<script src="../static/javascript/create.js"></script>
<script src="../static/javascript/settings.js"></script>


</html>