<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Terminale</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6990/6990855.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css_main' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <nav>
            <a class="header-home-container" href="/">

                <h3 class="header-title">
                    Terminale
                </h3>
                <img src="https://cdn-icons-png.flaticon.com/512/6597/6597982.png">
            </a>

            <div class="matiere-header-container">
                <h3 id="header-matiere">

                </h3>
                <img src="" id="header-matiere-icon">
            </div>

            <script>
                var currentURL = window.location.href;
                var url = new URL(currentURL);
                var params = new URLSearchParams(url.search);
                var matiere = params.get('matiere');

                fetch("../static/json/matiere.json")
                    .then(response => response.json())
                    .then(data => {
                        data.forEach((item, index) => {
                            if (index == matiere) {
                                document.getElementById("header-matiere").textContent = item.matiere_name;
                                document.getElementById("header-matiere-icon").src = item.icon_src;
                            }
                        });
                    }).catch(error => {
                        console.error('Error:', error);
                    });

            </script>

            <div class="menu">
                <button class="menu-right" onclick="hide_show()"><img id="button-settings"
                        src="https://cdn-icons-png.flaticon.com/512/2115/2115216.png"></button>
            </div>
        </nav>
        </div>
        <div id="settings" style="opacity: 0; display: none;">
            <div>
                <p>Color</p>
                <ul class="settings-colors" id="style_list">

                </ul>

                <script>
                    fetch('../static/json/settings_color.json')
                        .then(response => response.json())
                        .then(data => {
                            data.forEach(item => {
                                const element_id = item.color_id;

                                const liElement = document.createElement("li");

                                const buttonElement = document.createElement("button");
                                const class_element = "diagonal-button style" + parseInt(element_id, 10);
                                buttonElement.className = class_element
                                buttonElement.onclick = function () {
                                    style_change(element_id);
                                };

                                liElement.appendChild(buttonElement);

                                const ulElement = document.getElementById("style_list");
                                ulElement.appendChild(liElement);

                            });
                        })
                        .catch(error => {
                            console.error('Une erreur s\'est produite lors de la lecture du fichier JSON :', error);
                        });
                </script>
            </div>
            <div>
                <p>Angles</p>
                <ul class="settings-radius">
                    <li><button class="radius-button radius1" onclick="radius1()"></button></li>
                    <li><button class=" radius-button radius2" onclick="radius2()"></button></li>
                    <li><button class=" radius-button radius3" onclick="radius3()"></button></li>
                    <li><button class=" radius-button radius4" onclick="radius4()"></button></li>
                </ul>
            </div>
        </div>
    </header>


    </div>
    <main
        style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10vh;">


        <div class="main-create-container" id="main-container">
            <div class="toggle-container">
                <button class="toggle-option selected" onclick="toggleSelection(this)">Cours</button>
                <button class="toggle-option" onclick="toggleSelection(this)">Interro</button>
            </div>

            <script>
                function toggleSelection(button) {
                    var buttons = document.getElementsByClassName("toggle-option");
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].classList.remove("selected");
                    }

                    button.classList.add("selected");
                }
            </script>

            <h3 class="color-opposite"> Cours Box <img src="https://cdn-icons-png.flaticon.com/512/1350/1350387.png ">
            </h3>

            <div class="element-create-part">

                <a class="box-single show box-single-demonstration">
                    <div class="box-num">1</div>
                    <h4 id="titre-demonstration-box">Titre</h4>
                    <div class="box-icon-container"><img id="icon-demonstration-box"
                            src="https://cdn-icons-png.flaticon.com/512/5181/5181979.png" class="box-icon"></div>
                </a>

                <br>

                <div class="input-create-container">
                    <h4 class="color-opposite"> Titre : </h4>
                    <div class="input-container"><input placeholder="ex: Cours Dérivé (chapitre 1)"
                            id="create-input-title-box" class="input" name="text" type="text">
                    </div>
                </div>

                <div class="input-create-container">
                    <h4 class="color-opposite">Icon url : </h4>
                    <div class="input-container "><input
                            placeholder="ex: https://cdn-icons-png.flaticon.com/512/5422/5422388.png"
                            id="create-input-icon-box" class="input" name="text" type="text">
                    </div>

                </div>
                <button id="show-icon-proposale">show</button>
                <div class="icon-proposale" style="display: none;">
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/3655/3655618.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/2234/2234697.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/5776/5776927.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/197/197374.png "></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/10601/10601048.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/1613/1613243.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/6747/6747083.png"></button>
                    <button class="icon-proposale-button"><img
                            src="https://cdn-icons-png.flaticon.com/512/3898/3898150.png "></button>
                </div>
                <script>
                    const buttonShowHide = document.getElementById("show-icon-proposale");
                    const iconProposale = document.querySelector(".icon-proposale");

                    buttonShowHide.addEventListener("click", function () {
                        if (iconProposale.style.display === "none") {
                            iconProposale.style.display = "flex";
                            buttonShowHide.textContent = "hide";
                        } else {
                            iconProposale.style.display = "none";
                            buttonShowHide.textContent = "show";
                        }
                    });

                    // Récupérer tous les boutons
                    const buttons = document.querySelectorAll(".icon-proposale-button");

                    // Ajouter un gestionnaire d'événement "click" à chaque bouton
                    buttons.forEach(button => {
                        button.addEventListener("click", function () {
                            // Récupérer la source de l'image contenue dans le bouton
                            const imageSource = button.querySelector("img").src;

                            // Afficher la source de l'image dans la console
                            console.log("Source de l'image :", imageSource);
                        });
                    });

                </script>
                <div class="input-create-container">

                    <h4 class="color-opposite">Mot clé : </h4>
                    <div class="input-container"><input placeholder="ex: Math ,Derive" id="create-input-keyword"
                            class="input" name="text" type="text">

                    </div>
                </div>

                <ul class="key_word_container" id="key_word_container">


                </ul>

                <p style="visibility: hidden;" id="empty-keywords" class="color-opposite"> Aucun mot clé
                </p>

                <p id="alert-text" style="visibility: hidden; color: var(--text-color); font-style: italic;"
                    class="color-opposite">⚠
                    Certain
                    mots peuvent être
                    modifier pour
                    faciliter la recherche plus tard (si vous les tapez comme précédement ils seront trouvé)
                </p>
            </div>

        </div>




        </div>

        <div class="add-cours">
            <button id="button-add-cours" onclick="showlist()">
                Ajouter du contenu au cour <img src=" https://cdn-icons-png.flaticon.com/512/2985/2985150.png ">
            </button>
            <ul id="list-add-cours" style="visibility: hidden;">
                <button onclick="create_element(1)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Youtube <img src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png "></div>
                </button>
                <button onclick="create_element(2)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Vidéo <img src="   https://cdn-icons-png.flaticon.com/512/3074/3074767.png "></div>
                </button>
                <button onclick="create_element(3)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Audio <img src="   https://cdn-icons-png.flaticon.com/512/4349/4349708.png "></div>
                </button>
                <button onclick="create_element(4)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Texte <img src="    https://cdn-icons-png.flaticon.com/512/4021/4021726.png "></div>
                </button>
                <button onclick="create_element(5)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Image Verticale <img src="   https://cdn-icons-png.flaticon.com/512/3342/3342203.png ">
                    </div>
                </button>
                <button onclick="create_element(6)"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png ">
                    <div>Image Horizontale <img src="   https://cdn-icons-png.flaticon.com/512/1829/1829586.png ">
                    </div>
                </button>
            </ul>

            <script>
                var list_shown = false;

                function showlist() {
                    if (list_shown == false) {
                        document.getElementById("list-add-cours").style.visibility = "visible";
                        document.getElementById("button-add-cours").style.borderBottomLeftRadius = "0px";
                        document.getElementById("button-add-cours").style.borderBottomRightRadius = "0px";
                        list_shown = true;
                    } else {
                        document.getElementById("list-add-cours").style.visibility = "hidden";
                        document.getElementById("button-add-cours").style.borderBottomLeftRadius = "5px";
                        document.getElementById("button-add-cours").style.borderBottomRightRadius = "5px";
                        list_shown = false;
                    }
                }
            </script>
        </div>
    </main>
</body>

<script src="../static/javascript/create_json_cour.js"></script>
<script src="../static/javascript/create.js"></script>
<script src="../static/javascript/create_element/create_youtube.js"></script>
<script src="../static/javascript/create_element/create_video.js"></script>
<script src="../static/javascript/create_element/create_audio.js"></script>
<script src="../static/javascript/create_element/create_texte.js"></script>
<script src="../static/javascript/create_element/create_imageV.js"></script>
<script src="../static/javascript/create_element/create_imageH.js"></script>
<script src="../static/javascript/create_elements.js"></script>
<script src="../static/javascript/settings.js"></script>


</html>