<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ma page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css_main' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <nav>
            <div class=" menu">
                <ul>
                    <li><a href="/">Accueil</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container">
            <a href="oral/analyses" class="box_oral">
                <p>
                    Analyses linéaires
                </p>
                <img width="30px" src="https://cdn-icons-png.flaticon.com/512/4391/4391422.png">
            </a>
            <a href="oral/oeuvre" class="box_oral">
                <p>
                    Présentation d'Oeurve
                </p>
                <img width="30px" src="https://cdn-icons-png.flaticon.com/512/5832/5832416.png">
            </a>
            <a href="oral/grammaire" class="box_oral">
                <p>
                    Question de Grammaire
                </p>
                <img width="30px" src="https://cdn-icons-png.flaticon.com/512/2463/2463149.png">
            </a>

        </section>
    </main>
</body>

</html>