<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ma page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css_texte' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body class="test">

    <header>
        <div class="icons">
            <a class="headers link" href="/">
                <img width="20px" src="https://cdn-icons-png.flaticon.com/512/3951/3951470.png">
                Acceuil
            </a>
            <a class="headers link" href="/oral/analyses">
                <img width="20px" src="https://cdn-icons-png.flaticon.com/512/4947/4947789.png">
                Liste de textes
            </a>
            <a class="headers link" href="/oral/analyses">
                <img width="20px" src="https://cdn-icons-png.flaticon.com/512/7132/7132070.png">
                Cours
            </a>
        </div>
        <div class="headers" id="header_texte">1</div>
    </header>
    <div class="container">

        <h1 id="full_screen_message" style="position: fixed; bottom: 10px; left: 10px;"> Press 'ESC' to escape</h1>
        <div class="left">
            <img class="fullscreen-image" src="" id="text_image">
        </div>
        <div class="right">

            <div class="citation">
                <div id="numero_citation">3</div>
                <p id="citation_texte">Citation non trouvé !</p>
            </div>
            <img id="image_answer" style="display: none;" src="{{ url_for('static', filename='image/white.png')}}">
            <button onclick="reponse()" id="bouton_reponse">Réponse</button>
            <div id="boutons_check">
                <div>
                    <h3><input placeholder="ex: 0.5" id="grade"></input>
                        <div id="deno">/ 3</div>
                    </h3>
                    <h4 id="text_grade" style="display: none; color: red;">Note invalide</h4>
                    <button onclick="note()" id="bouton_reponse">Validé la note</button>
                </div>
            </div>
            <ul id="grades_sumup">

            </ul>

        </div>
    </div>


    <div class="toggle_texte_style">
        Afficher les détails
        <div class="toggle">
            <div class="circle off"></div>
            <div class="circle on"></div>
        </div>
    </div>


</body>


<script>
    /* SET VARIABLES */
    var note_page = false
    var sumup_page = false
    let done = [];


    /* GET TEXTE ID */
    let queryString = window.location.search;
    let params = new URLSearchParams(queryString);
    let text_nb = params.get('text');
    document.getElementById("header_texte").innerHTML = "Texte " + text_nb;
    let image_src = "{{ url_for('static', filename='image/textes/texte_1.png')}}";
    let new_image_src = image_src.replace('1', text_nb.toString());
    document.getElementById("text_image").setAttribute("src", new_image_src);
    let json_f = "/static/json/texte_1.json"
    let json_file = json_f.replace('1', text_nb.toString());


    /* GET QUOTE */
    let citation_selector = document.querySelector('.citation')

    function randint(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function get_quote() {
        $.getJSON(json_file, function (data) {
            // faire quelque chose avec les données chargées depuis le fichier JSON

            texte_nb_quote = data.length;
            quote_id = done.length

            while (done.indexOf(quote_id) !== -1) {
                quote_id = randint(0, data.length - 1);
            }

            done.push(quote_id);

            quote = data[quote_id].nom
            document.getElementById("deno").innerHTML = '/ ' + data[quote_id].denomi;
            let citation_texte_selector = document.getElementById("citation_texte");
            let numero_citation_selector = document.getElementById("numero_citation");

            if (data[quote_id].mouv == false) {
                citation_texte_selector.innerHTML = '"' + quote + '"';
                numero_citation_selector.innerHTML = data[quote_id].id;
                citation_selector.classList.remove('movement')
                numero_citation_selector.classList.remove('movement')
                document.getElementById('image_answer').style.borderRadius = "15px";
                document.getElementById('image_answer').style.width = "65%";
            } else {
                citation_texte_selector.innerHTML = quote;
                citation_selector.classList.add('movement')
                numero_citation_selector.classList.add('movement')
                document.getElementById('image_answer').style.borderRadius = "0px";
                document.getElementById('image_answer').style.width = "85%";

            }



        });
    }

    /* WHEN ENTRE KEY IS PRESSED */
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13 || event.which === 13) {
            if (note_page == false) {
                /* SHOW ANSWER */
                reponse()
            } else if (sumup_page == false) {
                /* SEND NOTE */
                note()
            }

        }
    });


    /* SHOW ANSWER */
    function reponse() {
        document.getElementById("boutons_check").style.display = "block";
        document.getElementById("bouton_reponse").style.display = "none";
        note_page = true;
        image_reponse = document.querySelector('.right img');
        $.getJSON(json_file, function (data) {
            image_reponse.setAttribute('src', data[done[done.length - 1]].cheminImage)
        });
        image_reponse.style.display = "block";
    }

    document.getElementById("boutons_check").style.display = "none";



    /* GET GRADE */
    grades = []
    function note() {
        $.getJSON(json_file, function (data) {
            var inputGrade = document.getElementById("grade").value;

            /* SI RIEN N'EST SAISIE DANS LA NOTE */
            if (inputGrade.value === "" || inputGrade.value === null) {
                inputGrade.value = 0;
            }

            /* SI LA NOTE EST BONNE */
            if (inputGrade <= data[done[done.length - 1]].denomi) {
                grade_on_10 = inputGrade / data[done[done.length - 1]].denomi * 10
                grades.push(grade_on_10.toFixed(1));

                /* QUAND TOUTE LES CITATIONS ONT ETE NOTE */
                if (done.length == texte_nb_quote) {
                    sumup_page = true;
                    citation_selector.style.display = "none";
                    document.getElementById('image_answer').style.display = "none";
                    document.getElementById("boutons_check").style.display = "none";

                    /* SUMUP */
                    var ul = document.getElementById("grades_sumup");
                    ul.style.backgroundColor = "rgb(194, 194, 214)";
                    ul.style.listStyle = "none";
                    ul.style.padding = "20px";
                    ul.style.margin = "-30px";
                    ul.style.borderRadius = "20px";
                    ul.style.width = "100%";

                    $.getJSON(json_file, function (data) {
                        var somme_elements = 0
                        /* AFFICHER LES NOTES PAR CITATION */
                        for (var i = 0; i < data.length; i++) {
                            var li = document.createElement("li");
                            li.style.display = "flex"
                            li.style.backgroundColor = "#67a377";
                            li.style.justifyContent = "space-between";
                            li.style.marginBlockEnd = "3%";



                            if (data[i].mouv == false) {
                                var div_quote_sumup = document.createElement("div");
                                div_quote_sumup.classList.add("quote_sumup");
                                div_quote_sumup.innerHTML = data[i].nom;
                                div_quote_sumup.style.backgroundColor = "#abebbc";

                                var div_id = document.createElement("div");
                                div_id.classList.add("id_sumup");
                                div_id.innerHTML = data[i].id;
                                li.style.backgroundColor = "rgb(160, 160, 190)";
                                div_quote_sumup.style.backgroundColor = "rgb(218, 218, 231)";
                                li.appendChild(div_id);
                                li.style.borderRadius = "15px";
                                li.style.padding = "3%";
                            } else {
                                var div_quote_sumup = document.createElement('img');
                                div_quote_sumup.classList.add("quote_sumup");
                                div_quote_sumup.style.width = "80%";
                                li.style.backgroundColor = "rgb(194, 194, 214)";
                                div_quote_sumup.style.backgroundColor = "rgb(194, 194, 214)";
                                div_quote_sumup.src = data[i].cheminImage;
                                li.style.padding = "0%";
                                li.style.borderRadius = "5px";

                            }

                            var div_grade_sumup = document.createElement("div");
                            div_grade_sumup.classList.add("grade_sumup");
                            div_grade_sumup.innerHTML = grades[i];
                            if (data[i].mouv == false) {
                                if (grades[i] < 4) {
                                    div_grade_sumup.style.backgroundColor = "rgb(181, 90, 67)";
                                } else if (grades[i] < 7) {
                                    div_grade_sumup.style.backgroundColor = "rgb(178, 186, 93)";
                                } else {
                                    div_grade_sumup.style.backgroundColor = "rgb(62, 135, 62)";
                                }
                            } else {
                                div_grade_sumup.style.backgroundColor = "#abebbc";
                                div_grade_sumup.style.margin = "3%";
                            }


                            somme_elements = somme_elements + parseInt(grades[i]);


                            li.appendChild(div_quote_sumup);
                            li.appendChild(div_grade_sumup);
                            ul.appendChild(li);
                        }

                        /* FAIRE LA MOYENNE */
                        var li = document.createElement("li");
                        li.style.display = "flex"
                        li.style.backgroundColor = "rgb(70, 115, 140)";
                        li.style.justifyContent = "space-between";
                        li.style.padding = "3%";
                        li.style.marginBlockEnd = "3%";
                        li.style.borderRadius = "20px";

                        var div_quote_sumup = document.createElement("div");
                        div_quote_sumup.classList.add("quote_sumup");
                        div_quote_sumup.style.backgroundColor = "rgb(90, 132, 156)";
                        div_quote_sumup.innerHTML = "MOYENNE";

                        var div_grade_sumup = document.createElement("div");
                        div_grade_sumup.classList.add("grade_sumup");
                        var moyenne = somme_elements / grades.length;
                        var new_moyenne = moyenne.toFixed(2);
                        div_grade_sumup.innerHTML = new_moyenne.toString() + "/10";

                        li.appendChild(div_quote_sumup);
                        li.appendChild(div_grade_sumup);
                        ul.appendChild(li);
                    });


                } else {
                    /* OBTENIR UNE NOUVELLE CITATION */
                    get_quote()
                    document.getElementById("boutons_check").style.display = "none";
                    document.getElementById("bouton_reponse").style.display = "block";
                    document.getElementById("text_grade").style.display = "none";
                    document.getElementById("grade").value = "";
                    image_reponse.style.display = "none";
                    note_page = false;
                }

            } else {
                /* NOTE INVALIDE */
                document.getElementById("text_grade").style.display = "block";
            }
        });
    }


    /* FULL SCREEN IMAGE TEXT*/

    const fullscreenImage = document.querySelector('.fullscreen-image');
    var texte_esc = document.getElementById("full_screen_message");
    const right = document.querySelector('.right');
    const fullscreenBody = document.querySelector('body');
    let full_screen = false;
    texte_esc.style.display = "none";
    document.querySelector('.toggle_texte_style').style.visibility = "hidden";

    /* ENTER FULLE SCREEN */
    fullscreenImage.addEventListener('click', () => {
        if (full_screen == false) {
            full_screen = true;
            fullscreenImage.classList.add('show');
            fullscreenBody.classList.add('show');
            right.classList.add('show');
            texte_esc.style.display = "block";
            fullscreenImage.style.zIndex = "-1";
            document.querySelector('.toggle_texte_style').style.visibility = "visible";
            if (toggle_value == false) {
                document.querySelector('.off').style.visibility = "visible";
                document.querySelector('.on').style.visibility = "hidden";
            } else {
                document.querySelector('.off').style.visibility = "hidden";
                document.querySelector('.on').style.visibility = "visible";
            }
        }
    });

    /* EXIT FULLE SCREEN */
    document.addEventListener('keydown', function (event) {

        if (event.key === 'Escape' || event.keyCode === 27) {
            full_screen = false;
            fullscreenImage.classList.remove('show');
            fullscreenBody.classList.remove('show');
            texte_esc.style.display = "none";
            right.classList.remove('show');
            fullscreenImage.style.zIndex = "1";
            document.querySelector('.toggle_texte_style').style.visibility = "hidden";
            document.querySelector('.off').style.visibility = "hidden";
            document.querySelector('.on').style.visibility = "hidden";
            fullscreenImage.style.position = "fixed";
        }
    });

    /* TOGGLE ON FULL SCREEN (FOR DETAILS) */
    const toggle = document.querySelector('.toggle_texte_style');
    var toggle_value = false
    document.querySelector('.on').style.visibility = "hidden";
    toggle.addEventListener('click', () => {
        if (toggle_value == false) {
            document.querySelector('.off').style.visibility = "hidden";
            document.querySelector('.on').style.visibility = "visible";
            let new_detail_image_src = new_image_src.replace('texte_', "texte_detail_");
            document.getElementById("text_image").setAttribute("src", new_detail_image_src);
            toggle_value = true
        } else {
            document.querySelector('.off').style.visibility = "visible";
            document.querySelector('.on').style.visibility = "hidden";
            document.getElementById("text_image").setAttribute("src", new_image_src);
            toggle_value = false
        }
    });

    get_quote()

</script>

</html>